.container {
  padding-bottom: 20px;
}

.desks {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.desk {
  background-color: var(--color-beige);
  box-shadow: 8px 3px 8px 0px rgba(92, 91, 76, 0.2);
  border-radius: 10px;
  width: 350px;
  height: 500px;
  border: 1px solid var(--color-darkgreen);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.desk__header {
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--color-lightgreen);
  border-radius: 10px;
}

.desk__header-progress {
  background-color: var(--color-yellow);
}

.desk__header-done {
  background-color: var(--color-grey);
}

.desk__header-title,
.desk__header-count {
  font-family: Open Sans;
  font-size: var(--fsize-m);
}

.desc__todo-content {
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  overflow-y: auto;
}

.todo {
  border: 1px solid var(--color-darkgreen);
  border-radius: 10px;
  background-color: var(--color-beige);
  padding: 10px;
}

.todo__header {
  display: flex;
  justify-content: space-between;
}

.todo__title {
  font-weight: 800;
  font-size: var(--fsize-m);
}

.todo__desc {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.desk-progress {
}
.desk-done {
}

.desc__btn-add {
  height: 50px;
  border: none;
  cursor: pointer;
  font-family: Open Sans;
  font-size: var(--fsize-m);
  background-color: var(--color-middlegreen);
  color: var(--main-color-white);
}

.desc__btn-delete {
  height: 50px;
  border: none;
  cursor: pointer;
  font-family: Open Sans;
  font-size: var(--fsize-m);
  background-color: var(--color-peach);
  color: var(--main-color-white);
}

.desc__btn-add:hover,
.desc__btn-delete:hover {
  opacity: 0.7;
}

.todo__info {
  display: flex;
  justify-content: space-between;
  font-style: italic;
  font-size: 0.8rem;
}

.noTodos {
  display: flex;
  justify-content: center;
  font-style: italic;
  font-size: 0.8rem;
  font-size: var(--fsize-l);
  margin-top: 50%;
  color: var(--main-color-white);
}

.todo__btn-edit,
.todo__btn-remove,
.todo__btn-move {
  padding: 2px 10px;
  border: none;
  border-radius: 8px;
  background-color: var(--color-middlegreen);
  cursor: pointer;
  font-weight: 600;
  color: var(--main-color-white);
}

.todo__btn-remove {
  background-color: var(--color-peach);
}

.todo__btn-edit:hover,
.todo__btn-remove:hover,
.todo__btn-move:hover {
  cursor: pointer;
  opacity: 0.7;
}